<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<test name="zzkgApiTest">
		<groups>
			<define name="ALL">
				<include name="P1" />
				<include name="P2" />
			</define>
			<run>
				<include name="P1" />
			</run>
		</groups>
		<classes>
			<class name="com.zzkg.apicases.ZzkgApiCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
