<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<test name="api">
		<classes>
			<class name="com.zzkg.cases.addaddress.AddAddress" />
			<!-- <class name="com.zzkg.cases.gift.ExchangeGift" /> -->
			<!-- <class name="com.zzkg.cases.buy.BuyProcess" /> -->
			<!-- <class name="test.DebugTestNG" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

