<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<test name="api">
		<classes>
			<!-- <class name="com.zzkg.cases.cart.CheckCart" /> -->
	<class name="com.zzkg.cases.addaddress.CheckAddressPhone" />
			<!-- <class name="com.zzkg.cases.gift.ExchangeGift" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

